body{
  padding:0px; 
  margin:0px;
}
.wrapper {
  display:flex;
  justify-content:space-around;
}
.product_wrapper {
  border:1px dotted gray;
  width:30%;
  height:200px;
  display:flex;
}
.paddings {
  padding-left:20px;
}
.top-menu{
  display:flex;
  justify-content:space-between;
}
